body {
    padding: 10px;
}

#form-add-listing textarea{
    height: 10em;
    width: 20em;
}

#form-add-listing input{
    width: 20em;
}

#form-add-listing label{
    margin-top: 1em;
}

.active-listing{
    width:50em;
    display: flex;
}

.active-listing div{

}

.active-listing img{    
    max-height: 10em;
    max-width: auto;
}