{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <li class="active-listing">
                <div>
                    <b>Name: </b>{{ listing.name }}
                    <br>
                    <b>Description: </b>{{ listing.description }}
                    <br>
                    <b>Starting Bid: </b>{{ listing.starting_bid }}
                    <br>
                    <b>Caller: </b>{{ listing.caller }}
                </div>                
                <img src="{{ listing.image }}">
            </li>
        {% endfor %}
    </ul>

{% endblock %}